<div class="card" style="width: 18rem;">
  <div class="color"></div>
  <div class="card-body">
    <h6 class="card-title">{{ task['_id'] }}</h6>
    <p class="card-text">
      {{ task['task-description'] }}
    </p>
    <div class="form-check form-switch">
      <input class="form-check-input" 
             type="checkbox" 
             role="switch" 
             [checked]="task['isDone']"
             (change)="updateStatus()">
      <label [ngClass]="getClassByStatus()">
            {{ task['isDone'] ? 'Completada' : 'Pendiente' }}
      </label>      
    </div>
    <p class="card-text category">{{ task['task-category'] }}</p>
    <p class="card-text">Fecha: {{ task['task-date']}}</p>
    <a class="btn btn-danger" (click)="eliminarTarea(task['_id'])">Eliminar</a>
  </div>
</div>