<!-- Title -->
<div class="row mt-2">
  <div class="col-md-12">
    <h1>Administrador de tareas</h1>
    <hr>
  </div>
</div>

<div class="row">
  
  <!-- Add Tasks -->
  <div class="col-md-6 add-task mt-4">
    <h3 class="text-center">Añadir tarea</h3>
    <hr>
    <form class="mt-3"
          autocomplete="off"
          (ngSubmit)="createTask()"
          [formGroup]="taskForm">
      <div class="form-floating mb-3">
        <input type="text" 
               class="form-control"
               id="input-nombre-tarea" 
               placeholder="Ir al supermercado"
               formControlName="task-description"
               [ngClass]="{'is-invalid': isNotValidControl('task-description')}" 
               required>
        <label for="input-nombre-tarea">Descripción de la tarea</label>
      </div>
      <span class="text-danger"
            *ngIf="isNotValidControl('task-description')">La descripción de la tarea es obligatorio. (min. 3 caracteres)</span>
      <div class="form-floating mb-3 date-input">
        <input type="date" 
               class="form-control"
               [min]="2023-05-03"
               formControlName="task-date"
               [ngClass]="{'is-invalid': isNotValidControl('task-date')}" 
               id="input-fecha-tarea">
          <label for="input-fecha-tarea">Fecha límite de la tarea</label>
      </div>
      <span class="text-danger"
            *ngIf="isNotValidControl('task-date')">La descripción de la tarea es obligatorio.</span>  

      <div class="form-floating mb-3 date-input">
        <select class="form-control"
                formControlName="task-category">
          <option *ngFor="let category of taskSrv.categories"
                  [value]="category">
            {{ category }}
          </option>
        </select>
        <label for="floatingSelect">Categoría</label>
      </div>
      <button class="btn btn-primary" 
              type="submit">Crear tarea</button>
    </form>
  </div>

  <!-- Show Tasks -->
  <div class="col-md-6 mt-4">
    <!-- No Tasks -->
    <div class="no-tasks" *ngIf="taskSrv.tasks.length === 0; else tasksContainer">
      <div class="alert alert-warning" role="alert">
        No tienes tareas creadas.
      </div>
      <img src="../assets/imgs/no-data.svg" alt="Image No Tasks">
    </div>
  
    <!-- Render tasks -->
    <ng-template #tasksContainer>
      <h3 class="text-center">Tus tareas:</h3>
      <hr>
      <div class="input-group mb-3">
        <input type="text" 
               class="form-control" 
               placeholder="Buscar tarea...">
        <select class="form-control select-search">
          <option value="Todos">Todas</option>
          <option *ngFor="let category of taskSrv.categories"
                  [value]="category">
            {{ category }}
          </option>
        </select>        
      </div>
      <!-- All tasks -->
      <div *ngIf="!isSearching">
        <div class="task mt-4" 
            *ngFor="let task of taskSrv.tasks; let i = index"
            >
          <app-task-item [task]="task"></app-task-item>
        </div>        
      </div>
      <!-- Search tasks -->
      <div *ngIf="isSearching">
        <h2>Searching...</h2>
      </div>
    </ng-template>
  </div>
</div>