
.add-task .form-floating {
  margin-bottom: 0 !important;
}

.add-task .date-input {
  margin-top: 1rem;
}

.add-task button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.no-tasks img {
  display: block;
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
}

.select-search {
  flex: 0.3 auto;
}